* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../images/PixelMountains.jpg);
    background-position: center;
}

img {
    background: none;
    position: relative;
    left: 0;
    transition: left 3s ease; 
}


